.slider {
  transform-style: preserve-3d;
  transform: translateX(-50%) translateY(-50%) perspective(var(--perspective));
  animation: autoRun var(--time) linear infinite;
}

@keyframes autoRun {
  0% {
    transform: translateX(-50%) translateY(-50%) rotateX(var(--viewAngle))
      perspective(var(--perspective)) rotateY(0deg);
  }
  100% {
    transform: translateX(-50%) translateY(-50%) rotateX(var(--viewAngle))
      perspective(var(--perspective)) rotateY(360deg);
  }
}

.slider .item {
  box-sizing: border-box;
  transform: rotateY(
      calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)
    )
    translateZ(var(--radius));
}
